<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nuzp.proupernutrition">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProuperNutrition">
        <activity
            android:name=".Dish"
            android:exported="true"
            android:label="@string/title_activity_dish">
            <intent-filter>
                <action android:name=".Dish" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProuperNutrition.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityComponents"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.ProuperNutrition.NoActionBar">
            <intent-filter>
                <action android:name=".MainActivityComponents" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityDishes"
            android:exported="true"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.ProuperNutrition.NoActionBar">
            <intent-filter>
                <action android:name=".MainActivityDishes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityCountry"
            android:exported="true"
            android:label="@string/title_activity_main4"
            android:theme="@style/Theme.ProuperNutrition.NoActionBar">
            <intent-filter>
                <action android:name=".MainActivityCountry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityAuthors"
            android:exported="true"
            android:label="@string/title_activity_main5"
            android:theme="@style/Theme.ProuperNutrition.NoActionBar">
            <intent-filter>
                <action android:name=".MainActivityAuthors" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>